.carousel-inner .item p {
    display: inline-block;
    position: absolute;
}
.carousel-inner .item p span {
    display: block;
    text-align: left;
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
    clear: both;
    overflow: hidden;
}
.carousel-inner .item p span.lineto {
    height: 4px;
    width: 18%;
    background: #f6270b;
    margin-bottom: 20px;
    clear: both;
    overflow: hidden;
}
.carousel-inner .item p span.title {
    font-size: 50px;
    margin-bottom: 25px;
}
.carousel-inner .item p span.desc {
    margin-bottom: 15px;
}
.carousel-inner .item .p1 {
    left: 12%;
    top: 30%;
}
.carousel-inner .item .p2 {
    right: 0;
    top: 0;
    margin: 15% 0 16%;
    width: 45%;
    height: 15%;
    z-index: 1;
    padding-left: 5%;
}
.carousel-inner .item .p2 span {
    color: #313131;
}
.carousel-inner .item .backbg {
    background: #fff;
    position: absolute;
    width: 45%;
    height: 35%;
    top: 10%;
    right: 0;
    opacity: .79;
    margin: 10% 0 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=79);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=79);
}
.carousel-inner .item .p3 {
    right: 14%;
    top: 30%;
    padding-left: 10%;
}
@media (max-width: 991px) {
    .eduGongguan .con .backtobg, .produceInstru .con .backtobg {
        height: 100%;
    }
    .eduGongguan .con .box, .produceInstru .con .box {
        top: 50%;
    }
    .carousel-inner .item .p2 {
        width: 100%;
        margin-top: 35%;
    }
    .carousel-inner .item .backbg {
        width: 100%;
        height: 50%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .carousel-inner .item .p2 {
        width: 100%;
        margin-top: 30%;
    }
    .carousel-inner .item .backbg {
        width: 100%;
        height: 50%;
    }
    .navbar>.container .navbar-brand {
        padding: 0 !important;
    }
    .navbar>.container .navbar-brand img {
        max-width: 210px !important;
    }
    .navbar-nav>li:last-child {
        display: block!important;
    }
}